/* HEX CODES */
/* #5E366A --- Imperial purple */
/* #331940 --- dark purple */
/* #0CCA98 ---  Carribbean green */

/* FONTS */
/* Raleway */

* {
  margin: auto;
  box-sizing: border-box;
}

body {
  background-color: #5e366a;

}

#game,
#stats,
#controls,
#monsterStats {
    border-radius: 15px;
  background-color: silver;
  font-size: 20px;
  margin-top: 25px;
  padding: 5px;
  width: 500px;
}

.stat {
    font-family: 'Eagle Lake';
    margin: 20px;
    
}

#xpText, #healthText, #goldText, #monsterName, #monsterHealth {
    font-family: Impact;
    margin: 15px;
}

#button1,
#button2,
#button3 {
  background-color: yellowgreen;
  padding: 10px 12px 10px 12px;
  border-radius: 15px;
  font-family: "Impact";
  font-size: 20px;
  letter-spacing: 2px;;
}

#text {
    font-size: 20px;
    font-family: "Eagle Lake";
    background-color: black;
    color:  silver;
}

img {
    border-radius: 15px;
}