/* HEX CODES */
/* #5E366A --- Imperial purple */
/* #331940 --- dark purple */
/* #0CCA98 ---  Carribbean green */

/* FONTS */
/* Raleway */

* {
  margin: auto;
  box-sizing: border-box;
}

body {
  background-color: #5e366a;
}

#game {
  /*box-shadow: yellowgreen 0px 8px 12px;*/
  box-shadow: #dcd0ff 0px 54px 55px, #dcd0ff 0px -12px 30px, #dcd0ff 0px 4px 6px,
    yellowgreen 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#game,
#stats,
#controls,
#monsterStats {
  border-radius: 15px;
  background-color: silver;
  color: black;
  font-size: 20px;
  margin-top: 25px;
  padding: 5px;
  width: 500px;
}

.stat {
  font-family: "Eagle Lake";
  margin: 20px;
}

#xpText,
#healthText,
#goldText,
#monsterName,
#monsterHealth {
  font-family: Impact;
}

#button1,
#button2,
#button3 {
  background-color: yellowgreen;
  padding: 10px 12px 10px 12px;
  border-radius: 15px;
  font-family: "Impact";
  font-size: 20px;
  letter-spacing: 2px;
}

#text {
  font-size: 20px;
  font-family: "Eagle Lake";
  color: silver;
}

#monsterStats {
  border-radius: 0px;
  color: black;
}

.text-bg {
    
  background-color: black;
  color: silver;
}
img {
  border-radius: 15px;
  padding-top: 10px;
  display: flex;
}
