/* HEX CODES */
/* #5E366A --- Imperial purple */
/* #331940 --- dark purple */
/* #0CCA98 ---  Carribbean green */

/* FONTS */

body {
    background-color:#5E366A ;
}

#stats, #controls, #monsterStats {
    background-color: silver;
}

 #text {
    background-color: black;
    color: silver;
}

#button1, #button2, #button3 {
background-color: #0CCA98;
}